/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
header {
  background-color: slategray;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
}
header nav a {
  margin: 0 3%;
  color: white;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
}
header nav a:hover {
  color: black;
}
.headerImg {
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
}
h1 {
  font-size: 150px;
  display: flex;
  justify-content: center;
  color: white;
}
.headerstmnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.headerstmnt h2 {
  font-size: 65px;
  padding-bottom: 1%;
}
.headerstmnt p {
  font-size: 20px;
  padding-bottom: 5%;
}
button {
  margin-bottom: 1%;
  background-color: red;
  color: white;
  font-size: 25px;
}
button:hover {
  color: black;
}
.skillsInterests {
  background-color: slategray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skillsInterests div {
  margin: 2% 10%;
  padding: 1%;
  color: white;
}
.skillsInterests div h2 {
  font-size: 65px;
  text-decoration: underline;
  text-transform: uppercase;
  padding-bottom: 5%;
}
.skills {
  font-size: 35px;
}
.interests {
  font-size: 35px;
}
hr {
  height: 2px;
  color: red;
  border: none;
  background-color: red;
  margin: 0;
}
.workHistory {
  background-color: slategray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.workHistory h2 {
  font-size: 55px;
  color: white;
}
.workHistory div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  padding: 2%;
  margin: 1%;
}
.workHistory div h3 {
  font-size: 25px;
  text-decoration: underline;
  padding-bottom: 5%;
}
.workHistory div .copyright {
  background-color: slategray;
  display: flex;
  justify-content: center;
  align-items: center;
}
